*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
.page{
  position: relative;
  width: 100vw;
height: 100vh;
}
.card{
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: absolute;
  width:40vw;
  min-width:270px ;
  height: 40vh;
  min-height: 400px;
  background-color: #eee;
  top: 50%;
  left: 50%;
  border-radius: 0.5rem;
  transform: translate(-50%,-50%);
  padding: 0.9rem;
}
.card .product{
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  background-color: #455456;
  flex-grow: 1;
  
}
.card .details{
  color: #455456;
display: flex;
flex-direction: column;
padding: 0.9rem 0.3rem;
align-items: center;
}
.card .details p {
  font-size: 13px;
}
body::before{
  z-index: -10;
  content: "";
  position: fixed;
  top:50%;
  left: 50%;
  transform: translateX(-50%) skew(0deg, -10deg);
border-radius: 50% ;
  width: 230%;
  height: 210%;
  background-color: #0099ff;
animation:backAnimation ease alternate 7s infinite ;
}
@keyframes backAnimation {
  0%{
      transform: translateX(-50%) skew(0deg, -10deg);
  }
  100%{
      transform: translateX(-30%) skew(30deg, 0deg);
  }
}
